.navbar55 {
    background-color: darkgrey;
}
.css_add_input {
    width: 28px;
    background-color: darkgrey;
    border:none;
}
.css_add_input2 {
    width: 28px;
    background-color: #E9ECEF;
    border: none;
}
.allrun{
 border: none;
 background-color: #F8F9FA;
  width: 100px;
}
.batsman{
    width: 80px;
    background-color: darkgrey;
    border:none;
}
.batsman2 {
    width: 80px;
    background-color: #E9ECEF;
    border: none;
}
.Extra{
     width: 28px;
     background-color: #B0E0E6;
     border: none;
}
.stk{
    width: 47px;
}
.runwicket{
     width: 38px;
     
}